
<nav class="navbar">
   <p>EMS</p>
    
    <div class="link">
            <a routerLink="employees" routerLinkActive="active"  >Employee List</a>
    
            <a routerLink="create-employee" routerLinkActive="active" >Add Employee</a>
      
            <a routerLink="login" routerLinkActive="active"  >Login</a>
        </div>
</nav>
 


<h1 class="text-center">Employee Management System</h1>
<div class = "container">
    <router-outlet></router-outlet>
</div>
<footer class = "footer">
    <div class = "container">
        <span>All Rights Reserved 2023 @management</span>
    </div>
</footer>