<section class="update">
    <img src="../../assets/update.jpg" alt="">
    
    <form (ngSubmit) = "onSubmit()" class="form-group">
        <h3> Update Employee </h3>
            <label> First Name</label>
            <input type="text" class ="box" id = "firstName"
                [(ngModel)] = "employee.firstName" name = "firstName">

            <label> Last Name</label>
            <input type="text" class ="box" id = "lastName"
                [(ngModel)] = "employee.lastName" name = "lastName">
    
        
            <label> Email Id</label>
            <input type="text" class ="box" id = "emailId"
                [(ngModel)] = "employee.emailId" name = "emailId">
    
        <button class = "btn" type ="submit">Submit</button>
    
    </form>
</section> 